body{
    display: flex;
    margin: 0px;
    padding: 0px;
    border: 0px;
    flex-direction: column;
}


#container{
    background: #BAF4ED;
    width:80%;
    flex-basis: auto;
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}


#header{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:50px;
    height: 50px;

}

#hrp{
    display: flex;
    flex:3;
    float:left;
    height: 100%;
    flex-direction: column;
}

#hlp{
    display: flex;
    flex:1;
    height: 100%;
}


#hrp span{
    color:black;
    font-size:30px;
    margin-left:50px;
    font-weight: bold;
}

.contactBtn{
    background:#6796F8;
    border-radius: 5px;
    align-self: flex-start;
    justify-self: center;
    color:white;
    width:70px;
    height: 40px;
    border:0;
}

.contactBtn:hover{
    background:rgb(78, 114, 190);
}


.menuBtn{
    align-self: flex-start;
    justify-self: center;
    background:#E34262;
    border-radius: 5px;
    border:0;
    color:white;
    height: 40px;
    width: 70px;
}

.menuBtn:hover{
    background:rgb(173, 51, 75);
}


#img{
    width:300px;
    height: 300px;
    margin-left:40px;
    margin-top:30px;
}

#title{
    margin-left:40px;
    margin-top:10px;
    font-weight: bold;
}


#ingrediente {
    margin-left:40px;
    margin-top:10px;
}

#reteta {
    margin-left:40px;
    margin-top:10px;
}